body {
    margin: 0;             
    height: 100vh;         
    display: flex;         
    justify-content: center; 
}

#Img_div {
    border: 2px solid #333;
    width:100%;
    height: 90%;
    margin-top: 10px;
    display: flex;           
    flex-direction: column;  
    justify-content: center;
}

.cont{
    display: flex; 
    justify-content: center; 
    width: 70%;
    text-align: center;
    flex-direction: column;
}

#form{
    display: flex; 
    justify-content: center; 
    width: 60%;
    text-align: center;
    flex-direction: column;
    margin:auto;
}

h1{
    margin:5px;
}

#avviso{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
